# This plan deploys 1 node; Node1 for Receiver with its connector
# both with their respective connectors

#=====================================================
# Definitions for Node1
#-----------------------------------------------------

# ReceiverComponent instance
nl.remedy.it.CCM.Component ReceiverComponent shapes_receiver_exec create_receiver_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "shapes_receiver_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_receiver_Servant"
    nl.remedy.it.DnCX11.Node "Node1"

# DDS4CCM_Receiver_Connector instance
nl.remedy.it.CCM.Component DDS4CCM_Receiver_Connector shapes_dds_conn create_ShapeTypeInterface_DDS_Event_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "shapes_dds_conn"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_ShapeTypeInterface_DDS_Event_Servant"
    nl.remedy.it.DnCX11.Node "Node1"
    nl.remedy.it.DnCX11.ConfigProperty topic_name "Square"
    nl.remedy.it.DnCX11.ConfigProperty domain_id int32:0
    nl.remedy.it.DnCX11.Connection ReceiverComponent
      push_consumer_data_control > shape_data_control
      push_consumer_data_listener < shape_data_listener

