# This plan deploys 2 nodes; Node1 for EchoProvider and Node2 for EchoUser
# both with their respective connectors

#=====================================================
# Definitions for Node1
#-----------------------------------------------------

# EchoProvider instance
nl.remedy.it.CCM.Component EchoProviderComponent echo_provider_exec create_Example_EchoProvider_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "echo_provider_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_EchoProvider_Servant"
    nl.remedy.it.DnCX11.Node "Node1"

# Provider Echo CORBA Connector instance
nl.remedy.it.CCM.Component EchoProvider_CORBA_connector echo_srr_corba_conn create_Example_Echo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Echo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "Node1"
    nl.remedy.it.DnCX11.Connection EchoProviderComponent
      srr_receptacle < do_echo

#=====================================================
# Definitions for Node2
#-----------------------------------------------------

# EchoUser instance
nl.remedy.it.CCM.Component EchoUserComponent echo_user_exec create_Example_EchoUser_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Artifact "echo_user_svnt"
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_EchoUser_Servant"
    nl.remedy.it.DnCX11.Node "Node2"

# User Echo CORBA Connector instance
nl.remedy.it.CCM.Component EchoUser_CORBA_connector echo_srr_corba_conn create_Example_Echo_SRR_CORBA_Connector_Impl
    nl.remedy.it.DnCX11.ExecParameter nl.remedy.it.DnCX11.Servant.Factory "create_Example_Echo_SRR_CORBA_Connector_Servant"
    nl.remedy.it.DnCX11.Node "Node2"
    nl.remedy.it.DnCX11.Connection EchoUserComponent
      srr_facet > use_echo
    nl.remedy.it.DnCX11.Connection EchoProvider_CORBA_connector
      srr_receptacle < srr_facet
